<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Hugo 0.79.0" />

  <title> Math Type Setting |  Hugo</title>
  <meta name="description" content="The art of letting go.">
  <link rel="stylesheet" href="http://example.org/css/simpleness.css">
  <link rel="canonical" href="http://example.org/posts/post-3/">
  <link rel="alternate" type="application/rss+xml" href="" title="Hugo">
  
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link 
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" 
    integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" 
    crossorigin="anonymous">
  </link>
  <script 
    defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" 
    integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" 
    crossorigin="anonymous">
  </script>
  <script 
    defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" 
    integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" 
    crossorigin="anonymous" 
    onload="renderMathInElement(document.body);">
  </script>
</head>

<body>
  <header class="menus">
  

  <nav >
    
    <a href="/"> Home</a>
    
    <a href="/about/"> About</a>
    
  </nav>

  <nav class="fontawesome">
    
    <a href="https://github.com/RainerChiang" target="_blank">
        <i title="GitHub" class="fab fa-github"></i>
    </a>
    
    
    <a href="http://example.org/index.xml" target="_blank">
        <i title="RSS" class="fas fa-rss"></i>
    </a>
    
  </nav>
  
  
  <div class="hidden description">A simple and concise hugo theme.</div>
  
</header>

<article class="article">
  <header>
    <h1 style="text-align: center;" >Math Type Setting</h1>

    <div class="post-meta">
    
      <time datetime="2018-03-18T12:13:32&#43;05:30">March 18, 2018</time> &nbsp; 
    

    Rainer Chiang &nbsp;

    
    
    

    
      <i class="far fa-clock"></i>
      
      
      

      
      36 s
      &nbsp;
    

    
      <i class="fas fa-folder"></i>
      
      <a href="/categories/hugo">Hugo</a>
      &nbsp;
      
    
    </div>
  </header>

   

  <div class="text">
    <p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>
<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>
<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:</li>
</ul>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash"><span style="color:#f92672">{{</span> <span style="color:#66d9ef">if</span> or .Params.math .Site.Params.math <span style="color:#f92672">}}</span>
<span style="color:#f92672">{{</span> partial <span style="color:#e6db74">&#34;math.html&#34;</span> . <span style="color:#f92672">}}</span>
<span style="color:#f92672">{{</span> end <span style="color:#f92672">}}</span>
</code></pre></div><ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project&rsquo;s configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files</li>
</ul>
<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a></p>



<h3 id="examples">Examples</h3>

<p>
Inline math: \(\varphi = \dfrac{1+\sqrt5}{2}= 1.6180339887…\)
</p>

<p>Block math:
$$
\varphi = 1+\frac{1} {1+\frac{1} {1+\frac{1} {1+\cdots} } }
$$</p>

  </div>

  <footer>
    <hr class="end-line">

    
    <div class="post-lastmod">
      <time datetime="2020-10-09T10:13:38&#43;08:00">
        update @ October 09, 2020
      </time>
      <p></p>
    </div>
    

    
    <div class="post-tags">
      <i class="fas fa-tags"></i>
      
        <a href="/tags/mathjax">MathJax</a>
        &nbsp;
      
        <a href="/tags/test">test</a>
        &nbsp;
      
    </div>
    

    
    
    <div class="releated-posts">
      <h3>Related Posts</h3>
      
      <i class="fas fa-paperclip"></i>
      <a href="/posts/post-2/">Markdown Syntax Guide</a>
      <br>
      
      <i class="fas fa-paperclip"></i>
      <a href="/posts/post-1/">Emoji Support</a>
      <br>
      
    </div>
    
  </footer>

  <div class="comments">



</div>

</article>


</body>
<div class="foot">
  
  
    &copy; 2019 - 2020 &#183; 
    <a href="/">Home</a> · Theme <a href="https://github.com/RainerChiang/simpleness">Simpleness</a> Powered by <a href="https://gohugo.io/">Hugo</a> &#183;
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  

  
</div>

<script src="/js/lazyload.min.js"></script>
<script>
  var lazyImage = new LazyLoad({
    container: document.getElementById('article')
  });
</script>


</html>
